* {
  font-family: Verdana;
  box-sizing: border-box;
}
textarea {
  font-family: monospace, sans-serif;
}
.spacer {
  flex: 1;
}

/* layout */
body {
  background-color: whitesmoke;
}
#game {
}
#main-content {
  justify-content: center;
  min-width: min-content;
}
.level-selector-sidebar {
  margin: 0 1%;
  width: 15%;
}
.center-content {
  min-width: min-content;
  align-items: center;
  background-color: tan;
  border-radius: 0 0 1% 1%;
  overflow: hidden;
}
.stats-sidebar {
  margin: 0 1%;
  width: 20%;
}
#submission {
  height: 50%;
}

/* board */
.board {
  background: beige;
  display: flex;
  flex-direction: column;
  font-family: monospace, sans-serif;
  border: 1px solid #000;
}
.board-row {
  display: flex;
}
.square {
  position: relative;
  height: 60px;
  width: 60px;
  outline: 1px solid #000;
  outline-offset: -1px;
}
.square-overlay,.square-underlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.square-overlay {
  z-index: 4;
}
.square-inset {
  position: absolute;
  width: 100%;
  height: 100%;
  /* width: calc(100% - 6px); */
  /* height: calc(100% - 6px); */
  /* top: 3px; */
  /* left: 3px; */
}
.square-inset.horizontal {
  width: 200%;
  /* width: calc(200% - 6px); */
}
.square-inset.vertical {
  height: 200%;
  /* height: calc(200% - 6px); */
}

/* bottom bar */
.bottom-bar {
  width: 100%;
}
.toggle-bar {
  align-items: center;
}
.symbol-bar {
}
.symbol-grid-bar {
  padding: 1%;
  background-color: lightgray;
}
.symbol-options-bar {
  padding-left: 3%;
}

/* cell / instruction selection grid*/
.grid-layout {
  display: grid;
  grid-template-columns: repeat(9, 1fr) [grid-end];
  /* grid-row-gap: 1%; */
  /* grid-column-gap: 1%; */
}
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.symbolgroup {
  padding-top: 100%;
}
.symbolgroup.horizontal {
  padding-top: 50%;
  grid-column-end: span 2;
}
.symbolgroup.vertical {
  padding-top: 200%;
  grid-row-end: span 2;
}
.symbolgroup.symbol-WM {
  /* for spacing */
  grid-row-start: 1;
  grid-column-start: 5;
}
.symbolgroup.symbol--,.symbolgroup[class~="symbol-|"],.symbolgroup[class~="symbol-]["] {
  grid-row-start: 2;
}
.symbolgroup.direction {
  grid-row-start: 2;
}
.symbolgroup.direction[class~="symbol-^"] {
  grid-row-start: 1;
  grid-column-start: 2;
}

/* symbols */
.symbol { z-index: 1; }
.direction,.operation { z-index: 2; }
.instruction.selected { z-index: 3; }
.image-container.symbol {
  position: absolute;
}
.symbol { pointer-events: none; }
.symbol svg > * { pointer-events: auto; }
.image-container { pointer-events: none; }
.symbolgroup.image-container { pointer-events: auto; }

/* board instruction transforms */
.symbol-shift {
  position: absolute;
  height: 100%;
  width: 100%;
}
.symbol-shift.bot0 {
  transform: scale(0.667) translate(-33%, -33%);
}
.symbol-shift.bot1 {
  transform: scale(0.667) translate(33%, 33%);
}

/* cell and symbol highlights */
.symbol.selected {
  filter: drop-shadow(0 0 1vmin dodgerblue);
}
.symbolgroup.selected {
  filter: drop-shadow(0 0 1vmin dodgerblue);
}
/* .bot0 .square-overlay, .bot1 .square-overlay { */
  /* border-style: solid; */
  /* border-width: 3.49px; [> extra 0.49 for rounding <] */
  /* border-radius: 17px; */
/* } */
/* .bot0 .square-overlay { */
  /* [> box-shadow: inset 3px 3px 5px crimson, inset -3px -3px 5px crimson; <] */
  /* border-color: crimson; */
/* } */
/* .bot1 .square-overlay { */
  /* [> box-shadow: inset 3px 3px 5px royalblue, inset -3px -3px 5px royalblue; <] */
  /* border-color: royalblue; */
/* } */
/* .bot0.bot1 .square-overlay { */
  /* [> mix crimson and royalblue <] */
  /* [> box-shadow: inset 5px 5px 5px #8e3e8e, inset -5px -5px 5px  #8e3e8e; <] */
  /* border-color: #8e3e8e; */
/* } */

/* boundary cells */
.untrespassable:not(.input):not(.output) {
  background: saddlebrown;
}
.input,.output {
  background: honeydew;
}
.output.unpowered .cell { opacity: 0.5 }
.output.powered .square-underlay {
  border-style: dashed;
  border-width: 1%;
  border-color: gold;
}

/* trash */
.trash {
  font-size: 30px;
  margin: 0 3%;
}
.trash.inactive { visibility: hidden; }
.trash:hover {
  text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px  1px 0 red,
    1px  1px 0 red;
}

/* toggles */
.toggle {
  display: flex;
  flex-direction: row;
  margin: 1ex;
  user-select: none;
}
.toggle input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.toggle label {
  background-color: #ccc;
  color: #444;
  text-align: center;
  line-height: 1;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}
.toggle.sim-toggle label {
  padding: 8px 8px;
}
.toggle input:checked + label {
  color: #eee;
  background: green;
  box-shadow: none;
}
.toggle input:checked + label.red {
  background: crimson;
}
.toggle input:checked + label.blue {
  background: royalblue;
}
.toggle label:first-of-type {
  border-radius: 5px 0 0 5px;
}
.toggle label:last-of-type {
  border-radius: 0 5px 5px 0;
}
.sim-toggle * {
  font-family: Symbola;
}
.colon-list {
  display: table;
  width: min-content;
}
.colon-list > * {
  display: table-row;
}
.colon-list > * > * {
  display: table-cell;
  white-space: nowrap;
}
.colon-list > * > *:first-child::after {
  content: ": ";
  white-space: pre;
}

/* results info */
.colors * {
  font-family: monospace, sans-serif;
}
.colors .past,.actual-color:not(:last-child) {
  opacity: 0.5;
}
.colors .present,.actual-color:last-child {
  font-weight: bold;
}
.colors .future {
}
[color=K] { color: black; }
[color=N] { color: brown; }
[color=R] { color: red; }
[color=O] { color: darkorange; }
[color=Y] { color: gold; }
[color=G] { color: green; }
[color=B] { color: blue; }
[color=P] { color: purple; }
[color=W] { color: white; }
[color=C] { color: cyan; }
[color=E] { color: orangered; }
.cycles-value,.steps-value {
  font-weight: bold;
}
.error-value {
  font-weight: bold;
}

/* drag n drop */
.dragged {
  opacity: 0.5;
}
.dragover {
  background-color: green;
}
