* {
  font-family: Verdana;
  box-sizing: border-box;
}
textarea {
  font-family: monospace, sans-serif;
}
.spacer {
  flex: 1;
}

/* layout */
body {
  background-color: whitesmoke;
}
#game {
}
.level-selector-sidebar {
  margin: 0 1vw;
  width: 10vw;
}
.center-content {
  width: min-content;
  align-items: center;
}
.stats-sidebar {
  margin: 0 1vw;
  width: 20vw;
}
#submission {
  height: 50vh;
}

/* board */
.board {
  background: beige;
  display: flex;
  flex-direction: column;
  font-family: monospace, sans-serif;
  border: 1px solid #000;
}
.board-row {
  display: flex;
}
.square {
  position: relative;
  height: calc(20px + 5vmin);
  width: calc(20px + 5vmin);
  border: 1px solid #000;
}

/* bottom bar */
.bottom-bar {
  width: 100%;
}
.toggle-bar {
  background-color: tan;
  align-items: center;
}
.symbol-bar {
  border-radius: 0 0 1vmin 1vmin;
  overflow: hidden;
}
.symbol-grid-bar {
  padding: 1vmin;
  background-color: lightgray;
}
.symbol-options-bar {
  padding-left: 3vw;
  background-color: tan;
}

/* cell / instruction selection grid*/
.grid-layout {
  display: grid;
  grid-template-columns: repeat(9, 1fr) [grid-end];
  grid-row-gap: 0.5vw;
  grid-column-gap: 0.5vw;
}
.image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.symbolgroup.horizontal {
  padding-top: 50%;
  grid-column-end: span 2;
}
.symbolgroup.vertical {
  padding-top: 200%;
  grid-row-end: span 2;
}
.symbolgroup.symbol-WM {
  /* for spacing */
  grid-row-start: 1;
  grid-column-start: 5;
}
.symbolgroup.symbol--,.symbolgroup[class~="symbol-|"],.symbolgroup[class~="symbol-]["] {
  grid-row-start: 2;
}

/* symbols */
.symbol {
  z-index: 1;
}
.direction,.operation {
  z-index: 2;
}
.symbol.selected {
  z-index: 3;
}
.image-container.symbol {
  position: absolute;
}
.image-container {
  pointer-events: none;
}
.symbolgroup.image-container {
  pointer-events: auto;
}
.symbol .image-base g {
  pointer-events: auto;
}
.image-base,.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.diode.horizontal .image-overlay {
  width: auto;
  transform: translate(-100%, -50%);
}
.diode.vertical .image-overlay {
  height: auto;
  transform: translate(-50%, -100%);
}
.diode.horizontal .image-overlay:last-of-type {
  transform: translate(0%, -50%);
}
.diode.vertical .image-overlay:last-of-type {
  transform: translate(-50%, 0%);
}
.symbol.horizontal {
  width: 200%;
}
.symbol.vertical {
  height: 200%;
}

/* symbol svg internals */
svg text {
  font-weight: bold;
  stroke: black;
  stroke-width: 0.05;
  paint-order: stroke fill;
}

/* board instruction transforms */
.symbol-shift {
  position: absolute;
  height: 100%;
  width: 100%;
}
.symbol-shift.bot0-symbol {
  transform: scale(0.667) translate(-33%, -33%);
}
.symbol-shift.bot1-symbol {
  transform: scale(0.667) translate(33%, 33%);
}

/* cell and symbol highlights */
.symbol.selected {
  filter: drop-shadow(0 0 1vmin dodgerblue);
}
.symbolgroup.selected {
  filter: drop-shadow(0 0 1vmin dodgerblue);
}
.bot0 {
  box-shadow: inset 3px 3px 5px crimson, inset -3px -3px 5px crimson;
}
.bot1 {
  box-shadow: inset 3px 3px 5px royalblue, inset -3px -3px 5px royalblue;
}
.bot0.bot1 {
  /* mix crimson and royalblue */
  box-shadow: inset 5px 5px 5px #8e3e8e, inset -5px -5px 5px  #8e3e8e;
}

/* trash */
.trash {
  font-size: 30px;
  margin: 0 1vw;
}
.trash.inactive {
  visibility: hidden;
}
.trash:hover {
  text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px  1px 0 red,
    1px  1px 0 red;
}

/* boundary cells */
.untrespassable:not(.input):not(.output) {
  background: saddlebrown;
}
.input {
  background: honeydew;
}
.output {
  background: honeydew;
  border-style: dashed;
  border-width: medium;
  border-color: gray;
}
.output.powered {
  border-color: gold;
}

/* toggles */
.toggle {
  display: flex;
  flex-direction: row;
  margin: 1ex;
}
.toggle input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.toggle label {
  background-color: #ccc;
  color: #444;
  text-align: center;
  line-height: 1;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}
.toggle input:checked + label {
  color: #eee;
  background: green;
  box-shadow: none;
}
.toggle input:checked + label.red {
  background: crimson;
}
.toggle input:checked + label.blue {
  background: royalblue;
}
.toggle label:first-of-type {
  border-radius: 5px 0 0 5px;
}
.toggle label:last-of-type {
  border-radius: 0 5px 5px 0;
}
.sim-toggle * {
  font-family: Symbola;
}
.colon-list {
  display: table;
  width: min-content;
}
.colon-list > * {
  display: table-row;
}
.colon-list > * > * {
  display: table-cell;
  white-space: nowrap;
}
.colon-list > * > *:first-child::after {
  content: ": ";
  white-space: pre;
}

/* results info */
.colors * {
  font-family: monospace, sans-serif;
}
.colors .past,.actual-color:not(:last-child) {
  opacity: 50%;
}
.colors .present,.actual-color:last-child {
  font-weight: bold;
}
.colors .future {
}
[color=K] { color: black; }
[color=N] { color: brown; }
[color=R] { color: red; }
[color=O] { color: darkorange; }
[color=Y] { color: gold; }
[color=G] { color: green; }
[color=B] { color: blue; }
[color=P] { color: purple; }
[color=W] { color: white; }
[color=C] { color: cyan; }
[color=E] { color: orangered; }
.cycles-value,.steps-value {
  font-weight: bold;
}
.error-value {
  font-weight: bold;
}
