.bot-stroke {
  stroke: lightgray;
}
.bot-fill {
  fill: lightgray;
}
.bot0 .bot-stroke {
  stroke: red;
}
.bot1 .bot-stroke {
  stroke: blue;
}
.bot0 .bot-fill {
  fill: red;
}
.bot1 .bot-fill {
  fill: blue;
}

.arrow {
  stroke-linecap: round;
}

.cell-border {
  rx: 0.5;
  ry: 0.5;
  fill: white;
  stroke: black;
}
.latched .cell-border {
  stroke: goldenrod;
}

.cell-fill {
  stroke: gray;
  stroke-width: 0.05;
  fill: lightgray;
}
.resolved-1 .circle-0 { fill: white; }
.resolved-0 .circle-1 { fill: white; }
.resolved-1 .cell-x .circle-1 { fill: blue; }
.resolved-0 .cell-x .circle-0 { fill: green; }
.resolved-1 .cell-plus .circle-1 { fill: red; }
.resolved-0 .cell-plus .circle-0 { fill: orange; }

.diode .arrow {
  stroke: black;
  stroke-width: 0.1;
}

.ghost {
  stroke: white;
  opacity: 0;
}
.direction .ghost {
  stroke-width: 0.5;
}
.direction-main {
  stroke-width: 0.2;
}

svg.operation text {
  fill: white;
  font-weight: bold;
  stroke: black;
  stroke-width: 0.05;
  paint-order: stroke fill;
}

.operation-circle {
  stroke: gray;
  stroke-width: 0.05;
}

.branch-overlay {
  fill: white;
  stroke: none;
  opacity: 0.75;
}

svg text {
  font-weight: bold;
  stroke: black;
  stroke-width: 0.05;
  paint-order: stroke fill;
}
